#All possible files to avoid pushing

##hidden files
.env
.recovery
*.key
*.pem

##Docker volumes
pihole/
wireguard/
nginx/
vaultwarden/
uptime-kuma-data/
dashy/
dozzle/

##in case of other os and logs
*.log
*.err
.DS_Store
Thumbs.db
